.confirm-dialog {
  padding: var(--sp-normal);

  & > .text {
    padding-bottom: var(--sp-normal);
  }
  &__btn {
    padding-top: var(--sp-normal);
    display: flex;
    gap: var(--sp-normal);
  }
}
